@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@300;400&display=swap');

h2{
    font-family: "Alfa Slab One", serif;
    padding: 0;
}

body{
    height: 100%;
}

.gallery{
    width: 80vw;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    grid-template-rows: 450px 450px 450px;
    gap: 3rem;
    ;
    justify-content: center;
    height: auto;
}

.gallery img{
    width:80%;
    height: 80%;
    object-fit: cover;
    padding-bottom: 2rem;
}

.menu{
    display: flex;
    gap: 2rem; 
    justify-content: center;
    padding-bottom: 4rem;
}