@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@300;400&display=swap');

h2{
    font-family: "Alfa Slab One", serif;
    padding-bottom: 3rem;
    color: rgb(58, 58, 58);
    font-size: 3rem;
    text-decoration: underline;
}

h4{
    font-family: "Montserrat", sans-serif;
}
body{
    background: linear-gradient(159deg, rgba(247,171,246,1) 0%, rgba(215,245,85,1) 100%);
    min-height: 100vh;
}

form{
    padding-bottom: 6rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

input{
    padding: 1rem;
}

.loginCard{
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 1rem 4rem;
    -webkit-box-shadow: 10px 10px 43px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 43px -18px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 43px -18px rgba(0,0,0,0.75);
    border: 0.2px whitesmoke solid;
}

