@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@300;400&display=swap');


img{
    width: 50%;
}

h3{
    font-family: "Alfa Slab One", serif;
}

.notFound{
    padding-bottom: 2rem;
}

