:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


header{
  display: flex;
  justify-content: flex-end;
}


.button-33 {
  background-color: rgb(215, 181, 219);
  border-radius: 100px;
  box-shadow: rgba(115, 44, 187, 0.2) 0 -25px 18px -14px inset,rgba(182, 187, 44, 0.15) 0 1px 2px,rgba(163, 187, 44, 0.15) 0 2px 4px,rgba(173, 187, 44, 0.15) 0 4px 8px,rgba(177, 187, 44, 0.15) 0 8px 16px,rgba(161, 187, 44, 0.15) 0 16px 32px;
  color: rgb(115, 0, 128);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 63, 187, 0.35) 0 -25px 18px -14px inset,rgba(49, 44, 187, 0.25) 0 1px 2px,rgba(44, 49, 187, 0.25) 0 2px 4px,rgba(187, 182, 44, 0.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(168, 187, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}